@tailwind base;
@tailwind components;
@tailwind utilities;

.two-line-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Giới hạn 2 dòng */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}